html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.logo {
  height: 32px;
  margin: 16px;
}

.site-layout-sub-header-background {
  text-align: center;
}

.site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout-sub-header-background {
  background: #141414;
}
